.container {
    text-align: center;
  }
  .input-text {
    margin-top: 20px;
    color: rgb(4, 23, 23);
    text-align: center;
    border-radius: 10px;
    padding: 8px 2px;
    box-shadow: 2px 2px 2px 0 rgb(208, 201, 121);
    box-sizing: border-box;
    border: 1px solid #ccc;
    width: 300px;
  }
  .input-text:hover {
    box-shadow: 0 0 5px rgba(11, 142, 134, 0.8);
  }
  
  h1 {
    color: rgb(6, 74, 88);
  }
  
  h2:hover {
    text-shadow: 1px 1px 2px rgb(50, 169, 212);
  }
  